@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

.Home-arrays {
  /* background: #232427;	 */
	background: black;	
	/* height: 100vh;	 */
	background-image: url(https://images.unsplash.com/photo-1624696941338-934bf86c28b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  overflow: scroll;
  font-family: Raleway, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.Home-arrays h1,h3{
	text-align: center;
	font-weight: 400;
	padding-top: 10px;
	color: white;
	font-size: 50px;
	margin-top: 10px;
}

.Home-arrays h3{
	font-size: 25px;
}



.Home-arrays {
	min-height: fit-content;
	padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home-arrays  .card {
  position: relative;
  min-width: 320px;
  width: 600px;
  height: 340px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.Home-arrays  .card:nth-child(1) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(2) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(3) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(4) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(5) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(6) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(7) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(8) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(9) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(10) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(11) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(12) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(13) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(14) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(15) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(16) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(17) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(18) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(19) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(20) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(21) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(22) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(23) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(24) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(25) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(26) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(27) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(28) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(29) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(30) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(31) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(32) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(33) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(34) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(35) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(36) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(37) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(38) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(39) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(40) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(41) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(42) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(43) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(44) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(45) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(46) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card:nth-child(47) .box .content a {
  background: #23c186;
}
.Home-arrays  .card:nth-child(48) .box .content a {
  background: #5223c1;
}
.Home-arrays  .card:nth-child(49) .box .content a {
  background: #2196f3;
}

.Home-arrays  .card:nth-child(50) .box .content a {
  background: #e91e63;
}

.Home-arrays  .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.Home-arrays  .card .box:hover {
  transform: translateY(-50px);
}

.Home-arrays  .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.Home-arrays  .card .box .content {
  padding: 20px;
  text-align: center;
}

.Home-arrays  .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.Home-arrays  .card .box .content h3 {
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-top: 10px;
  padding-bottom: 10px;
}

.Home-arrays  .card .box .content p {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Home-arrays  .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}
.Home-arrays  .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

#Button1{
    margin-right: 50px;
}
#Button2{
    margin-left: 50px;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #23c186;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}

#Button2:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}

h6{
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: medium;
}

.progress-arrays {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.progress-value-arrays {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  height: 17px;
  background: #23c186;
}

#hello{
  font-weight: 400;
  text-align: center;
  font-size: 40px;
  padding-top: -20px;
  padding-bottom: 30px;
  font-family:Segoe UI,Arial,sans-serif;
}

#easy{
  color: #23c186;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
}

#medium{
  color: rgba(255, 166, 0, 0.795);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
}

#hard{
  color:rgba(255, 0, 0, 0.76);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
}

